article.project h4 {
    display: inline;
    margin-right: 20px;
}

article.project p{
    word-wrap: break-word;
}

article.project svg path{
    transition: 0.4s;
}

article.project svg[data-icon="github"] path 
{
    fill: purple;
}

article.project svg[data-icon="chrome"] path 
{
    fill: green;
    stroke: blueviolet !important;
}

article.project svg path:hover
{
    fill: black;
}

article.project .language-badge 
{
    border: 2px solid white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 5em;
    padding: 5px;
    text-align: center;
    font-weight: 500; 
}

.php
{
    background-color: rgb(14, 175, 204)
}

.javascript{
    background-color: rgb(124, 116, 6);
}