.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}


.about-image {
    height: auto;
    width: 300px;
    border: 5px solid whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.about-information {
    margin-left: 20px;
    max-width: 400px;
}

.about-social {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px){
    .about-container{
        flex-direction: column;
    }
}
